html
 head
  link(rel="stylesheet", href="/stylesheets/style.css")
  title= title
  body
   section.questions.main 
    h1 Search Results
    p you searched: #{userQuery}
   section.results.main
    h2 we found a provider near you: